<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск по БД Netflix</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>

<h2>Выберите варианты поиска:</h2>
<br>

<h3>По названию</h3>
    <p>Будет найден самый свежий фильм, удовлетворяющий условию поиска</p>
    <form action="/movie/">
        <input type="text" name="title" placeholder="Название фильма...">
        <input type="submit" value="Поиск">
    </form>
<hr>

<h3>По диапазону лет выпуска</h3>
    <p>Выберете, между каким годами создания фильма выполнить поиск</p>
    <form action="/between_years/">
        <input type="text" name="from_y" placeholder="От...">
        <input type="text" name="to_y" placeholder="До...">
        <input type="submit" value="Поиск">
    </form>
<hr>

<h3>По возрастным ограничениям</h3>
    <p>Выберите возрастные ограничения</p>
   <form action="/rating/">
        <input type="radio" name="group" value="family" checked> Для семейного просмотра<br>
        <input type="radio" name="group" value="children"> Для детей<br>
        <input type="radio" name="group" value="adult"> Для взрослых<br>
        <br>
        <input type="submit" value="Поиск">
    </form>
<hr>

<h3>По жанрам</h3>
	<p>Введите жанр для выполнения поиска</p>
    <form action="/genre/">
        <input type="text" name="genre" placeholder="Жанр...">
        <input type="submit" value="Поиск">
    </form>
<hr>

<h3>По актерам</h3>
	<p>Введите двух актеров. Будет выведен список актеров, сыгравших с ними более чем в двух фильмах</p>
    <form action="/actors/">
        <input type="text" name="act_1" placeholder="Актер...">
        <input type="text" name="act_2" placeholder="Актер...">
        <input type="submit" value="Поиск">
    </form>
<hr>

<h3>По типу, году выпуска, жанру</h3>
	<p>Выберите тип, введите год выпуска и жанр для выполнения поиска. Вывод будет представлен в формате JSON</p>
    <form action="/movie_json/">
        <input type="radio" name="type" value="Movie" checked> Фильм
        <input type="radio" name="type" value="TV Show"> Сериал<br>
		<br>
		<input type="text" name="year" placeholder="Год выпуска...">
        <input type="text" name="genre" placeholder="Жанр...">
        <input type="submit" value="Поиск">
    </form>
<hr>

</body>
</html>